.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 60px;
  background: rgb(232, 234, 238);

  > .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;

    span {
      font-size: 12px;
    }

    h1 {
      font-size: 50px;
      font-weight: bold;
      font-family: "Fleur De Leah", cursive;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background: #fff;
  border-radius: 4px;
  width: 100%;

  > button {
    margin-left: 20px;
  }
}

.spinner {
  display: flex;
  align-items: center;
  min-height: 100px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}