@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Trade+Winds&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
}